# Ignore .pyc files
*.pyc

# Ignore jupyter notebooks
*.ipynb
.ipynb_checkpoints/

# Ignore test environment
test-env/
test.py

# Ignore .html files
*.html

# Ignore Categories
Categories/
GenerateCategoryMC.py
MarkovMaker.py
run

